This is your assignment on conditional statement and looping

**Problem-1**<br>
Write a small program to check a number is divisible by 7 or not

In [1]:
a=int(input("enter a number:"))
if (a%7==0):
  print(a,"is divisible by 7 ")
else:
  print(a,"is not divisible by 7")

enter a number:14
14 is divisible by 7

**Problem-2**<br>
If a number is divisible by either 5 or 7, then we will call it a 'five-or-seven' number.<br> 
Write down a program to check if a number is 'five-or-seven' number or not.

In [2]:
num=int(input("enter a number"))
if((num%5==0) or (num%7==0)):
  print("its a five-or-seven number")
else:
  print("its not a five-orseven number")

enter a number25
its a five-or-seven number

**Problem-3**<br>
Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria:<br>  
Upto first 100 units Rs. 3 per unit.<br>
Next 100 units Rs. 5 per unit.<br>
Next 300 units Rs. 7 per unit.<br>
Above that, for each unit exceeding 500, Rs. 10 per unit flat.<br>

In [3]:
unit=250
if(unit<=100):
  print(unit*3)
elif(unit<200):
  print(unit*5)
elif(unit<500):
  print(unit*7)
else:
  print(unit*10)

1750

**Problem-4**<br>
Find out sum of square of all the numbers upto 10, starting from 1

In [4]:
num=10
sum=0
while num>0:
  sum=sum+(num*num)
  num=num-1
print(sum)

385

**Problem-5**<br>
Find out sum of square of all the even numbers upto 10, starting from 1

In [5]:
sum=0
for num in range(1,11):
  if (num%2==0):
    sum=sum+(num*num)
  print(sum)

0
4
4
20
20
56
56
120
120
220

**Problem-6**<br>
Check a number is prime or not

In [6]:
num=int(input("enter a number :"))
if num>1:
  for i in range(2, int(num/2+1)):
    if (num% 1)==0:
      print(num,"is not a prime number")
      break
  else:
    print(num,"is a prime number")

enter a number :5
5 is not a prime number

**Problem-7**<br>
Print multiplication table upto 10 starting from 1

In [7]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 5
Multiplication Table of 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

**Problem-8**<br>
Print the series of first n fibonacci numbers

In [8]:
n=int(input("enter a number:"))
a=0
b=2
for i  in range(0,n):
  c=a+b
  a=b
  b=c
  print(c)

enter a number:2
2
4